 <header>
      <h1>POST LIST</h1>
</header>
<body>
<div class="d-flex flex-column justify-content-center" ,>
  <table class="table table-bordered table bordered table-hover text-center table table-dark">
    <thead>

    <td>USER</td>
    <td>TITLE</td>
    <td>CONTENT</td>
    <td>ADDRESS</td>
    <td>ACTION</td>
    <td>CATEGORY</td>
    <td>COMMENTS COUNTS</td>
    <td>IMAGE</td>
    <td>LOCATION</td>
    <td></td>
    <td></td>
    <td></td>
    </thead>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.address %></td>
        <td><%= post.action %></td>
        <td><%= post.user&.email %></td>
        <td><%= post.categories.pluck(:name).join(',') %></td>
        <td><%= post.comments_count %></td>
        <td><%= image_tag post.image.url if post.image.present? %></td>
        <td><%= Geocoder.search(post.ip_address).first&.country %></td>
        <td></td>
        <td>
          <%= link_to 'Show', post_path(post), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_post_path(post),class: 'btn btn-primary' if policy(post).edit?%>
          <%= button_to 'Delete', post_path(post),class: 'btn btn-danger', method: :delete if policy(post).destroy? %>
          <%= link_to 'Post Comment', post_comments_path(post), class: 'btn btn-warning' %>
          <%= link_to 'React', new_post_comment_path(post), class: 'btn btn-dark' %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </table>
</div>
</body>
<%= paginate @posts %>
<%= link_to 'New', new_post_path, class: 'btn btn-success' %>