<h1 class="text-center">POST LIST</h1>
<div class="d-flex flex-column justify-content-center">
  <table class="table table-striped table bordered table-hover text-center">
    <thead>
    <td>user</td>
    <td>title</td>
    <td>content</td>
    <td>address</td>
    <td>action</td>
    <td>category</td>
    <td>comments count</td>
    <td>image</td>
    </thead>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.address %></td>
        <td><%= post.action %></td>
        <td><%= post.user&.email %></td>
        <td><%= post.categories.pluck(:name).join(',') %></td>
        <td><%= post.comments_count %></td>
        <td><%= image_tag post.image.url if post.image.present? %></td>

        <td></td>
        <td>
          <%= link_to '', post_path(post),class: 'bi bi-eye' %>
          <%= link_to 'Edit', edit_post_path(post),class: 'bi bi-eye' if user_signed_in? && post.user == current_user %>
           <%= button_to 'Delete', post_path(post),class: 'bi bi-trash', method: :delete if user_signed_in? && post.user == current_user %>
          <%= link_to '', post_comments_path(post),class:'bi bi-chat-left-dots-fill' %>
          <%= link_to '', new_post_comment_path(post),class:'bi bi-chat-left-text' %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate @posts %>
<%= link_to 'New', new_post_path,class:'btn btn-success' %>