<table class="table table-striped table bordered table-hover text-center">
<h1>show post id: <%= @post.id %></h1>
<ul>
  <li><%= @post.title %></li>
  <li><%= @post.content %></li>
  <li><%= @post.address %></li>
  <li><%= @post.action %></li>
</ul>
</table>
<%= link_to 'Index', posts_path %>